.header {
  margin-top: 2%;
}

.headerTitle {
  white-space: pre;
  margin-left: -5%;
  margin-right: 5%;
}

.ant-row {
  justify-content: center;
}

.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child {
  left: 0px;
}
.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
  border-radius: 10px;
}

.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  display: none;
}

.ant-select.ant-select-borderless.ant-select-single.ant-select-show-arrow {
  padding-left: 15%;
}

.addButton {
  margin-left: 100%;
  border-radius: 10px;
  /* padding: 20%; */
}
